{% extends "base.html" %}
{% block extra_head %}
<script src="https://cdn.plot.ly/plotly-3.0.0.min.js" charset="utf-8"></script>
{% endblock %}

{% block title %}Dashboard - GOL{% endblock %}	
{% block content %}
<div class="container-fluid">
    <div class="card mb-4">
        <div class="card-header text-white" style="background-color: #072AC8;">
            <h5 class="mb-0">Filtros</h5>
        </div>
        <div class="card-body">
            <form method="get">
                <div class="row mb-3">
                    <div class="col-md-9 mb-2">
                        <label for="market">Mercado: </label>
                        <select name="market" id="market" class="form-select" value="{{ selected_market }}" required>
                            {% for market, count in markets %}
                            {% if market == selected_market %}
                            <option value="{{ market }}" selected>
                            {% else %}
                            <option value="{{ market }}">
                            {% endif %}
                                {{ market }} ({{ count }} voos)
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-secondary w-100" id="datereset" onclick="resetDates()">Reinicializar Datas</button>
                    </div>
                </div>
                
                <div class="row align-items-end">
                    <div class="col-lg-2 mb-1">
                        <button type="submit" class="btn btn-warning w-100">Filtrar</button>
                    </div>
                    <div class="col-lg-5 mb-1">
                        <div class="nativeDatePicker">
                            <label for="start_date" class="form-label">Data Inicial</label>
                            <input type="month" 
                                   class="form-control" 
                                   id="start_date" 
                                   name="start_date"
                                   value="{{ selected_start_date }}"
                                   min="{{ min_date }}"
                                   max="{{ max_date }}"
                                   required>
                        </div>

                        <!-- fallback para navegadores que não suportam input type="month" (i.e. Firefox) -->
                        <label class="fallbackLabel form-label" style="display: none;">Data Inicial</label>
                        <div class="fallbackDatePicker" style="display: none;">
                            <div class="row">
                                <div class="col">
                                    <label for="start_month">Mês:</label>
                                    <select id="start_month" name="start_month" class="form-select" disabled>
                                        {% for i in range(1, 13) %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="start_year">Ano:</label>
                                    <select id="start_year" name="start_year" class="form-select" disabled></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-5 mb-1">
                        <div class="nativeDatePicker">
                            <label for="end_date" class="form-label">Data Final</label>
                            <input type="month" 
                                   class="form-control" 
                                   id="end_date" 
                                   name="end_date"
                                   value="{{ selected_end_date }}"
                                   min="{{ min_date }}"
                                   max="{{ max_date }}"
                                   required>
                        </div>

                        <!-- fallback para navegadores que não suportam input type="month" (i.e. Firefox) -->
                        <label class="fallbackLabel form-label" style="display: none;">Data Final</label>
                        <div class="fallbackDatePicker" style="display: none;">
                            <div class="row">
                                <div class="col">
                                    <label for="end_month">Mês:</label>
                                    <select id="end_month" name="end_month" class="form-select" disabled>
                                        {% for i in range(1, 13) %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="end_year">Ano:</label>
                                    <select id="end_year" name="end_year" class="form-select" disabled></select>
                                </div>
                            </div>
                        </div>
                    </div>                
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive" style="max-height: 600px;">
                        <h5 class="card-title">Dados ({{ selected_market }}):</h5>
                        <table class="table table-striped">
                            <thead class="sticky-top text-white" style="background-color: #0B3142;">
                                <tr>
                                    <th>Ano</th>
                                    <th>Mês</th>
                                    <th>RPK</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in table_data %}
                                <tr>
                                    <td>{{ row.ano }}</td>
                                    <td>{{ row.mes }}</td>
                                    <td>{{ row.rpk }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div id="graph"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
// plota o gráfico com os dados recebidos do servidor Flask
var figure = {{ graph_json | safe }};
var config = {responsive: true};
Plotly.newPlot('graph', figure.data, figure.layout, config);

// reseta as datas para o máximo e mínimo
function resetDates() {
    document.querySelector("#start_date").value = "{{ min_date }}";
    document.querySelector("#end_date").value = "{{ max_date }}";
}

// todo o resto do scripting é um fallback para termos um seletor de mês adequado no firefox, que não suporta input month
// adaptado de https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/month#handling_browser_support
const nativePickers = document.querySelectorAll(".nativeDatePicker");
const fallbackPickers = document.querySelectorAll(".fallbackDatePicker");
const fallbackLabels = document.querySelectorAll(".fallbackLabel");

const yearSelects = document.querySelectorAll("#start_year, #end_year");
const monthSelects = document.querySelectorAll("#start_month, #end_month");

// testa se o browser suporta input type="month"
const test = document.createElement("input");

try {
    test.type = "month";
} catch (e) {
    console.log(e.description);
}

// se não suporta, exibe e ativa os elementos de fallback
if (test.type === "text") {

    // esconde o input month nativo e o botão de resetar datas
    // (é mais fácil resetar datas com o dropdown)
    nativePickers.forEach(picker => picker.style.display = "none");
    document.getElementById("datereset").style.display = "none";

    // exibe e ativa os elementos de fallback
    fallbackPickers.forEach(picker => picker.style.display = "block");
    fallbackLabels.forEach(label => label.style.display = "block");
    fallbackPickers.forEach(picker => picker.querySelectorAll("select").forEach(select => select.disabled = false));

    // limita nosso seletor de ano ao intervalo de anos disponíveis
    const minYear = parseInt("{{ min_date }}".split('-')[0]);
    const maxYear = parseInt("{{ max_date }}".split('-')[0]);
    
    yearSelects.forEach(yearSelect => {
        for (let year = minYear; year <= maxYear; year++) {
            const option = document.createElement("option");
            option.textContent = year;
            option.value = year;
            yearSelect.appendChild(option);
        }
    });

    // seta os valores iniciais como os valores selecionados via GET ou defaults
    const [startYear, startMonth] = "{{ selected_start_date }}".split('-');
    document.querySelector("#start_year").value = startYear;
    document.querySelector("#start_month").value = parseInt(startMonth);
    
    const [endYear, endMonth] = "{{ selected_end_date }}".split('-');
    document.querySelector("#end_year").value = endYear;
    document.querySelector("#end_month").value = parseInt(endMonth);

    // função customizada para submeter os valores no formato esperado
    document.querySelector('form').onsubmit = function() {
        const startMonth = this.start_month.value.padStart(2, '0');
        const startYear = this.start_year.value;
        const endMonth = this.end_month.value.padStart(2, '0');
        const endYear = this.end_year.value;
        
        // convertemos os nossos campos para o formato esperado
        this.start_date.value = `${startYear}-${startMonth}`;
        this.end_date.value = `${endYear}-${endMonth}`;

        // zeramos os campos fallback para não ter parâmetros desnecessários na request
        this.start_month.value = "";
        this.start_year.value = "";
        this.end_month.value = "";
        this.end_year.value = "";
    };
}
</script>
{% endblock %}
